table {
    background-color: rgb(43, 43, 43);
}

td {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
}

td#c-1 {
    background-color: #d85420; 
}

td#c-2 {
    background-color: #73ff00; 
}

td#c-3 {
    background-color: #00a2ff; 
}

.btn-dir {
    height: 70px;
    width: 70px;
    background: none;
    border: none;
}

.btn-dir img {
    height: 70px;
    width: 70px;
}