@page "/credits"


<div class="page">

    <div class="made-by">
        <div class="pre-title">game made by</div>
        <img src="images/purpl_studio.png" width="400px">
    </div>

    <div class="names">
        <p>- Mathéo Leger</p>
        <p>- Louis Brochard</p>
        <p>- Mattéo Grellier</p>
        <div class="intervenant"><b>Intervenant : </b></div>
        <div class="Julien">- Julien Sosthene</div>
        <div class="hearth">&#128150</div>
    </div>

    <div class="technologies">
        <div class="technologies-utilisées">Technologies utilisées : </div>
            <a href="https://docs.microsoft.com/fr-fr/dotnet/">.NET</a>
            <a href="https://docs.microsoft.com/fr-fr/aspnet/core/blazor/?view=aspnetcore-6.0">Blazor</a> 
            <a href="https://docs.microsoft.com/fr-fr/dotnet/csharp/">C#</a> 
    </div>

    <div class="original-tetris">
        link to
        <a href="https://tetris.com/play-tetris">Original Tetris</a>
    </div>

</div>
