@page "/game"
@inject NavigationManager NavigationManager



@{    
    SourceCode.Menu.Play();
}




<div class="pageGame">
    <div class="back">
        <button class="backButon" @onclick="NavigateToHome">Back</button>
    </div>

    <div class="container">
        <div class="grid">
            <table>
                <tbody>
                    @foreach(var line in SourceCode.Game.grid.pieces) {
                        <tr>
                            @foreach(var c in line) {
                                <td>
                                    <span>@c</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code{
    private void NavigateToHome() { NavigationManager.NavigateTo("/"); } 

}
