@page "/game"
@inject NavigationManager NavigationManager
@using System.Threading;

<audio id="musicplayer" autoplay>
  <source src="Sound/Testriste.mp3">
</audio>

@if(SourceCode.Game.isEnd) {
    <div class="game-over-bg">
        <div class="game-over">
            <h2>Game over !</h2>
            <div class="back">
                <button class="backButon" @onclick="NavigateToHome"> &lt Back </button>
            </div>
            <div class="retry">
                <button class="retryButton" @onclick="Retry"> Retry </button>
            </div>
        </div>
    </div>
}

<div class="pageGame">
    <div class="back">
            <button class="backButon" @onclick="NavigateToHome"> &lt Back </button>
    </div>
    <div class="container">
        <div class="element-grid-score">
            <table>
                <tbody>
                    @foreach(var line in SourceCode.Game.grid.pieces) {
                        <tr>
                            @foreach(var c in line) {
                                <td id="c-@c">
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div class="right-element">
                <div class="next-piece">
                    <h2>NEXT</h2>
                    <table class="next-piece-grid">
                        <tbody>
                        @foreach(var line in SourceCode.Game.nextPieceGrid.pieces) {
                            <tr>
                                @foreach(var c in line) {
                                    <td id="c-@c">
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="score">
                    <h2>SCORE</h2>
                    <h2>@SourceCode.Game.score.score</h2>
                </div>
            </div>            
        </div>
        <div class="button-game">
            <button class="btn-dir to-left" @onclick="() => SourceCode.Game.grid.actualPiece.ToSide(-1)">
                <img src="images/button-left-bigger.png">
            </button>
            <button class="btn-dir to-right" @onclick="() => SourceCode.Game.grid.actualPiece.ToSide(1)">
                <img src="images/button-right-bigger.png">
            </button>
            <button class="btn-dir to-soft-drop" @onmousedown="() => SourceCode.Game.grid.actualPiece.Drop(100)" @onmouseup="() => SourceCode.Game.grid.actualPiece.Drop(1000)">
                <img src="images/button-right-bigger.png" style="transform: rotate(90deg);">
            </button>
            <button class="btn-dir to-hard-drop" @onclick="() => SourceCode.Game.grid.actualPiece.Drop(0)">
                <img src="images/button-hard-drop-bigger.png">
            </button>
            <button class="btn-dir btn-turn" @onclick="() => SourceCode.Game.grid.actualPiece.TurnPiece()">
                <img class="btn-turn" src="images/button-turn-clockwise-bigger.png">
            </button>
        </div>
            
    </div>
</div>

@code {

    private static List<List<int>> gridPrintable = SourceCode.Game.grid.pieces;
    
    private void NavigateToHome() { 
        SourceCode.Game.isEnd = true;
        NavigationManager.NavigateTo("/");       
    }

    protected override async Task OnInitializedAsync()
    {
        while(!SourceCode.Game.isEnd) {
            await Task.Delay(SourceCode.Game.delay);

            SourceCode.Game.Round();

            StateHasChanged();
        }
    }

    private void Retry() {
        SourceCode.Piece.shapes = new List<List<List<List<int>>>>();
        SourceCode.Game.Init();
        OnInitializedAsync();
    }
}

