@page "/"

<PageTitle>Index</PageTitle>

@* <h1>TETRIS</h1>
<h2>Purpl' version</h2> *@

@inject NavigationManager NavigationManager

<img src="images/tetris-v-purpl-crop.png" style="height: 200px">


<div class="menu">
        <button  @onclick="LaunchGame">Play</button>
        <button @onclick="NavigateToOptions">Options</button>
        <button @onclick="NavigateToCredits">Credits</button>
</div>
@code { 
    private void NavigateToGame() { NavigationManager.NavigateTo("/game"); } 
    private void NavigateToOptions() { NavigationManager.NavigateTo("/option"); } 
    private void NavigateToCredits() { NavigationManager.NavigateTo("/credits"); } 

    private void LaunchGame() {
        SourceCode.Piece.shapes = new List<List<List<List<int>>>>();
        SourceCode.Game.Init();
        SourceCode.Game.Round();
        NavigateToGame();
    }
}