@page "/"

<PageTitle>Index</PageTitle>

@* <h1>TETRIS</h1>
<h2>Purpl' version</h2> *@

@inject NavigationManager NavigationManager

<img src="images/tetris-v-purpl-crop.png" style="height: 200px">


<div class="menu">
        <button  @onclick="() => {SourceCode.Menu.Play(); NavigateToGame();}">Play</button>
        <button @onclick="NavigateToOptions">Options</button>
        <button @onclick="NavigateToCredits">Credits</button>
        <button @onclick="() => SourceCode.Menu.Quit()">Quit</button>
</div>
@code { 
    private void NavigateToGame() { NavigationManager.NavigateTo("/game"); } 
    private void NavigateToOptions() { NavigationManager.NavigateTo("/option"); } 
    private void NavigateToCredits() { NavigationManager.NavigateTo("/credits"); } 
}