@page "/"

<PageTitle>Index</PageTitle>

@* <h1>TETRIS</h1>
<h2>Purpl' version</h2> *@

<img src="images/tetris-v-purpl-crop.png" style="height: 200px">

<div>
    <nav>
        <button><a href="/game">Play</a></button>
        <button @onclick="() => SourceCode.Menu.Options()">Options</button>
        <button @onclick="() => SourceCode.Menu.Credits()">Credits</button>
        <button @onclick="() => SourceCode.Menu.Quit()">Quit</button>
    </nav>
</div>


